################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################
.suo
*.p12
*.dg
*.log
*.user
*.xlsx
/.vs/*
/*/bin
/*/obj
/*/cache
/*/Properties